@model IEnumerable<eGIS_Management.Models.Client_Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Raw("First Name")
        </th>
        <th>
            @Html.Raw("Last Name")
        </th>
        <th>
            @Html.Raw("Phone")
        </th>
        <th>
            @Html.Raw("Email")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Client_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Client_ID })
        </td>
    </tr>
}

</table>
