@model PagedList.IPagedList<eGIS_Management.Models.Application>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Editor") || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New Application", "Create")
        }
    }
</p>
<table class="table">
    <tr>
        <th>

            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>

            @Html.ActionLink("APM_ID", "Index", new { sortOrder = ViewBag.APMSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>

            @Html.ActionLink("GIS Env", "Index", new { sortOrder = ViewBag.EnvironmentSortParm, currentFilter = ViewBag.CurrentFilter })


        </th>
        <th>

            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })


        </th>
        <th>

            @Html.ActionLink("Region", "Index", new { sortOrder = ViewBag.DFORegionSortParm, currentFilter = ViewBag.CurrentFilter })


        </th>
        <th>
            @Html.Raw("URL (En)")
        </th>
        <th>
            @Html.Raw("URL (Fr)")
        </th>


        <th>

            @Html.ActionLink("Primary Tech Support", "Index", new { sortOrder = ViewBag.TechSupport1SortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>

            @Html.ActionLink("Primary Client Contact", "Index", new { sortOrder = ViewBag.ClientContact1SortParm, currentFilter = ViewBag.CurrentFilter })
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APM_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIS_Environment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationType.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DFO_Region.Region)
        </td>
        <td>
            @Html.Raw("<a href=\"" + item.URL_En + "\"> " + "Click here" + " </a>")
        </td>
        <td>

            @Html.Raw("<a href=\"" + item.URL_Fr + "\"> " + "Click here" + " </a>")
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Tech_Support.Email)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Client_Contact.Email)
        </td>




        <td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin") | User.IsInRole("Editor"))
                {
                    @Html.ActionLink("Edit |", "Edit", new { id = item.App_ID })
                }
            }
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete |", "Delete", new { id = item.App_ID })
                }
            }

            @Html.ActionLink("Details", "Details", new { id = item.App_ID })

        </td>
    </tr>
    }

</table>
<br />
  Total <b>@ViewBag.TotalCount </b> records.        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

