@model eGIS_Management.Models.GIS_Server

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GIS Server Detail</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Server Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Raw("Server FQDN")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQDN)
        </dd>
        <dt>
            @Html.Raw("GIS Environment")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIS_Environment.Name)
        </dd>
        <dt>
            @Html.Raw("DFO Region")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFO_Region.Region)
        </dd>
        <dt>

            @Html.Raw("Operating System")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS.OS_Name)
        </dd>

        <dt>
            @Html.Raw("Network Zone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Network_Zone.Name) ( @Html.DisplayFor(model => model.Network_Zone.Note) )
        </dd>


        <dt>
            @Html.Raw("IP Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_Address)
        </dd>

        <dt>
            @Html.Raw("Storage (GB)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diskspace_GB)
        </dd>

        <dt>
            @Html.Raw("RAM (GB)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM_GB)
        </dd>
        <dt>
            @Html.Raw("Ports in Use")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Port_in_Use)
        </dd>
        <dt>
            @Html.Raw("Number of Virtual Processors")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt>
            @Html.Raw("SSL Certificate Issued to")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSL_IssuedTo)
        </dd>
        <dt>
            @Html.Raw("SSL Certificate Issued by")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSL_IssuedBy)
        </dd>
        <dt>
        <dt>
            @Html.Raw("SSL Certificate Expiry Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSL_ExpiryDate)
        </dd>
        <dt>
            @Html.Raw("Firewall Rules")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firewall_Rules)
        </dd>

        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.Raw("Last Updated")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Updated)
        </dd>

        <dt>
            @Html.Raw("Last Updated by")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Updated_By)
        </dd>


    </dl>
</div>
<h3>
    Software Installed on the Server
</h3>
<table class="table">
    <tr>
        <th>
            Software
        </th>
        <th>
            Note
        </th>

    </tr>

    @foreach (var item in Model.Software)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>

        </tr>
    }
</table>
<h3>
    Network Shares on the Server
</h3>
<table class="table">
    <tr>
        <th>
            Share Name
        </th>
        <th>
            Network Path
        </th>
        <th>
            Description
        </th>

    </tr>

    @foreach (var item in Model.NetworkShare)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShareName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Network_Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

    </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Server_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
