@model eGIS_Management.Models.GIS_Server

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GIS Server Detail</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Server Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Raw("Server FQDN")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQDN)
        </dd>
        <dt>
            @Html.Raw("GIS Environment")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIS_Environment.Name)
        </dd>
        <dt>
            @Html.Raw("DFO Region")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFO_Region.Region)
        </dd>
        <dt>

            @Html.Raw("Operating System")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS.OS_Name)
        </dd>

        <dt>
            @Html.Raw("Network Zone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Network_Zone.Name) ( @Html.DisplayFor(model => model.Network_Zone.Note) )
        </dd>


        <dt>
            @Html.Raw("IP Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IP_Address)
        </dd>

        <dt>
            @Html.Raw("Storage (GB)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diskspace_GB)
        </dd>

        <dt>
            @Html.Raw("RAM (GB)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAM_GB)
        </dd>
        <dt>
            @Html.Raw("Ports in Use")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Port_in_Use)
        </dd>
        <dt>
            @Html.Raw("Number of Virtual Processors")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt>
            @Html.Raw("SSL Certificate Issued to")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSL_IssuedTo)
        </dd>
        <dt>
            @Html.Raw("SSL Certificate Issued by")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSL_IssuedBy)
        </dd>
        <dt>
        <dt>
            @Html.Raw("SSL Certificate Valid to")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSL_ExpiryDate)
        </dd>

        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.Raw("Last Updated")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Updated)
        </dd>

        <dt>
            @Html.Raw("Last Updated by")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Updated_By)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Server_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
