@model PagedList.IPagedList<eGIS_Management.Models.GIS_Server>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    }
</p>
<table class="table table-hover table-striped  table-responsive">
    <tr>

        <th>

            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>

            @Html.ActionLink("Environment", "Index", new { sortOrder = ViewBag.EnvironmentSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>

            @Html.ActionLink("Zone", "Index", new { sortOrder = ViewBag.ZoneSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>

            @Html.ActionLink("Region", "Index", new { sortOrder = ViewBag.RegionSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>

            @Html.ActionLink("Diskspace(GB)", "Index", new { sortOrder = ViewBag.Diskspace_GBSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>

            @Html.ActionLink("RAM (GB)", "Index", new { sortOrder = ViewBag.RAM_GBSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>

            @Html.ActionLink("CPU", "Index", new { sortOrder = ViewBag.CPUSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>

            @Html.ActionLink("IP_Address", "Index", new { sortOrder = ViewBag.IP_AddressSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIS_Environment.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Network_Zone.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DFO_Region.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diskspace_GB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM_GB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP_Address)
            </td>

            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin") | User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Edit |", "Edit", new { id = item.Server_ID })
                    }
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Delete |", "Delete", new { id = item.Server_ID })
                    }
                }

                @Html.ActionLink("Details", "Details", new { id = item.Server_ID }) 

            </td>
        </tr>
    }

</table>
<br />
  Total <b>@ViewBag.TotalCount </b> records.        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

